h2 {
  border: 1px solid black;
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.tweets {
  /* Add some padding for spacing */
  font-family: "Arial", sans-serif; /* Change the font family to your preferred font */
  overflow: visible; /* Add overflow property to enable scrolling if content exceeds the container */
  box-sizing: border-box;
}
.tweets div {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  /* transition: background-color 0.2s ease; */
}

.tweets div:hover {
  background-color: #159ed4;
}

.tweets a {
  font-weight: bold;
  color: #080606;
  text-decoration: none;
  transition: color 0.2s ease;
  word-wrap: break-word;
}

.tweets a:hover {
  color: #ed0c0c;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 98vh;
}
.tweet-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tweet-input {
  display: flex;
  align-items: center;
}

.tweet-input label {
  margin-right: 10px;
}

#student-data {
  /* CSS styles for the student-data button */
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#student-data-container {
  /* CSS styles for the student-data button */
  /* Add a border with 1px width and a color of your choice */
  padding: 10px; /* Add some padding for spacing */
  font-family: "Times New Roman", Times, serif;
  max-width: 300px;
}

element.style {
  display: flex;
}

#student-select,
.tweet-form,
#student-data {
  /* CSS styles for the select, tweet-form, and student-data button */
  margin-left: 5px;
  margin-top: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
#student-select:hover #student-data:hover {
  /* CSS styles for the select, tweet-form, and student-data button */
  margin-top: 25px;
  background-color: #189cc8;
}
.tweet-form:hover {
  background-color: #010709;
}
.p {
  margin-top: 25px;
}

#idd {
  border-radius: 30px;
}

.tweet-text {
  border-radius: 30px;
}

#student-data:hover,
#student-select:hover,
#AI-button:hover,
#wow:hover,
#idd:hover {
  background-color: #189cc8;
}

.p:not(:empty) {
  border: 1px solid black;
}
